/* 画面全体の中央揃え */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#quiz-container {
    text-align: center;
    color: #333;
    width: 100%;
    max-width: 500px; /* 適切な幅を指定 */
}

#info-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ff4081;
}

button {
    padding: 10px 20px;
    margin: 10px 0; /* 垂直方向の間隔を調整 */
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s ease;
}

#start-button {
    background-color: #ff4081;
    color: white;
}

.answer-button {
    background-color: #4caf50;
    color: white;
}

button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#answer-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    width: calc(100% - 40px); /* 入力フィールドの幅調整 */
    box-sizing: border-box;
    display: none;
}

#submit-answer-button {
    background-color: #00bcd4; /* 水色 */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button.disabled,
#answer-input.disabled {
    background-color: #ccc; /* 灰色 */
    cursor: not-allowed;
    color: #666;
}

#next-button {
    background-color: #ff9800; /* オレンジ */
    color: white;
    margin-top: 20px;
}

#result-message {
    font-size: 100px;
    font-weight: bold;
    margin: 20px;
}

.correct {
    color: blue;
}

.incorrect {
    color: red;
}